{% extends "resources/item_base.html" %}

{% block title %}
    Update {{ item }}
{% endblock %}

{% block content %}
<h1><a href={% url "item_list" %}>Item</a></h1>
<h2>Update {{ item }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "item_detail" item.pk %}>Cancel</a>
<form style="display:inline;" action={% url "item_delete" item.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ item }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}