{% extends "resources/loan_base.html" %}

{% block title %}
    Loans
{% endblock %}

{% block content %}
    <h1>Loans</h1>
    {% if user.is_authenticated %}
    <h2><a href={% url "loan_create" %}>Create new Loan</h2>
    {% endif %}

    <ul>
    <h2> On going loans</h2>
    {% for loan in loan_list %}
        {% if loan.is_ongoing %}
        
        <li><a href={% url "loan_detail" loan.pk %}>{{ loan }} From {{ loan.starting_date | date }} to {{ loan.ending_date | date }}</a> 
        {% if user.is_authenticated %}
        | <a href={% url "loan_update" loan.pk %}>Update</a> | 
            <form style="display:inline;" action={% url "loan_delete" loan.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ loan }}?')">{% csrf_token %}
            <input type="submit" value="Delete" />
            </form>
        {% endif %}
        </li>
        {% endif %}
    {% empty %}
        <li>No Loans yet.</li>
    {% endfor %}

    <h2> Future loans</h2>
    {% for loan in loan_list %}
        {% if loan.has_not_started %}
        <li><a href={% url "loan_detail" loan.pk %}>{{ loan }} From {{ loan.starting_date | date }} to {{ loan.ending_date | date }}</a> 
        {% if user.is_authenticated %}
        | <a href={% url "loan_update" loan.pk %}>Update</a> | 
            <form style="display:inline;" action={% url "loan_delete" loan.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ loan }}?')">{% csrf_token %}
            <input type="submit" value="Delete" />
            </form>
        {% endif %}
        </li>
        {% endif %}
    {% empty %}
        <li>No Loans yet.</li>
    {% endfor %}

    <h2> Past loans</h2>
    {% for loan in loan_list %}
        {% if loan.is_ended %}
        <li><a href={% url "loan_detail" loan.pk %}>{{ loan }} From {{ loan.starting_date | date }} to {{ loan.ending_date | date }}</a> 
        {% if user.is_authenticated %}
        | <a href={% url "loan_update" loan.pk %}>Update</a> | 
            <form style="display:inline;" action={% url "loan_delete" loan.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ loan }}?')">{% csrf_token %}
            <input type="submit" value="Delete" />
            </form>
        {% endif %}
        </li>
        {% endif %}
    {% empty %}
        <li>No Loans yet.</li>
    {% endfor %}



    </ul>
{% endblock %}