{% extends "resources/reference_base.html" %}

{% block title %}
    {{ reference }}
{% endblock %}

{% block content %}
    <h1><a href={% url "reference_list" %}>Reference</a></h1>
    <h2>{{ reference }} | <a href={% url "reference_update" reference.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "reference_delete" reference.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ reference }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}