{% extends "resources/state_base.html" %}

{% block title %}
    {{ state }}
{% endblock %}

{% block content %}
    <h1><a href={% url "state_list" %}>State</a></h1>
    <h2>{{ state }} | <a href={% url "state_update" state.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "state_delete" state.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ state }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}