{% extends "resources/item_base.html" %}

{% block title %}
    Items
{% endblock %}

{% block content %}
    <h1>Items</h1>
    <h2><a href={% url "item_create" %}>Create new Item</h2>
    <ul>
    {% for item in item_list %}
        <li><a href={% url "item_detail" item.pk %}>{{ item }}</a> | <a href={% url "item_update" item.pk %}>Update</a> | <form style="display:inline;" action={% url "item_delete" item.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ item }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No Items yet.</li>
    {% endfor %}
    </ul>
{% endblock %}