{% extends "resources/reference_base.html" %}

{% block title %}
    References
{% endblock %}

{% block content %}
    <h1>References</h1>
    <h2><a href={% url "reference_create" %}>Create new Reference</h2>
    <ul>
    {% for reference in reference_list %}
        <li><a href={% url "reference_detail" reference.pk %}>{{ reference }}</a> | <a href={% url "reference_update" reference.pk %}>Update</a> | <form style="display:inline;" action={% url "reference_delete" reference.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ reference }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No References yet.</li>
    {% endfor %}
    </ul>
{% endblock %}